.carpage {
    background-image: url("./imgs/bg.png");
}

*,body {
font-family: "Poppins", sans-serif;
}
.header{
    background-color: #BABAB8;
}
.defbg{
    background-color: #FFFEFA;
}


*::-webkit-scrollbar {
    display: none;
}


* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}